@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3> Demo for chat app using signalR </h3>
    <a class="nav-link text-dark" href="/chat/index">click here to start chatting</a>
</div>
